body {
  height: 100vh;
  /* background: url(https://res.cloudinary.com/marcofugaro/image/upload/v1570113726/simone-hutsch-skyscrapers_n7vgyi.jpg); */
/*   background: url("June 66 27.jpeg"); */
  /* background: url("Untitled 1 29.jpeg"); */
  background: url("Untitled 6 1.jpeg");
  background-size: cover;
  background-position: center center;
  /* background-color: rgba(200,100,0,.5);
  background-blend-mode: multiply; */
}

canvas {
  display: block;
}
